---
import { t } from "i18next";
---

<div
    class="bg-[url('./img/bg-itzamna/bg-itzamna3.webp')] w-full bg-cover bg-center relative z-0"
>
    <div class="p-5">
        <p>{t("itzamna.text_4")}</p>
        <p>{t("itzamna.who")}</p>
        <p>{t("itzamna.who_1")}</p>
        <p>{t("itzamna.who_2")}</p>
        <p>{t("itzamna.who_3")}</p>
        <p>{t("itzamna.who_4")}</p>
        <p>{t("itzamna.who_5")}</p>
    </div>
</div>
