<div class='icon-container right-0 bottom-48'>
  <div
    class='icon-wrapper border-[6px] border-white bg-black rounded-full h-[70px] flex items-center justify-center'
  >
    <div class='overflow-hidden rounded-full'>
      <a
        href='https://itmacademy.com.mx/app/home/_'
        target='_blank'
        rel='noreferrer'
        class=''
      >
        <img
          src='/img/logoitmacademy.png'
          width='55'
          alt='AMERICA´S MOBILITY OF THE FUTURE'
        />
      </a>
    </div>
    <div class='icon-tooltip'>ITM ACADEMY</div>
  </div>
</div>

<div class='icon-container right-0 bottom-28'>
  <div class='icon-wrapper border-[6px] border-white rounded-full'>
    <a href='https://amofexpo.igeco.mx/' target='_blank' rel='noreferrer'>
      <img
        src='/amof_favicon.webp'
        width='55'
        alt='AMERICA´S MOBILITY OF THE FUTURE'
      />
    </a>
    <div class='icon-tooltip'>AMERICAS´ MOBILITY OF THE FUTURE</div>
  </div>
</div>

<div class='icon-container right-0 bottom-8'>
  <div class='icon-wrapper'>
    <a
      href='https://wa.me/5578618883?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20ITM%202025.'
      target='_blank'
      rel='noreferrer'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='65'
        height='65'
        viewBox='0 0 256 258'
      >
        <defs>
          <linearGradient
            id='IconifyId191ecf1f1423e23942'
            x1='50%'
            x2='50%'
            y1='100%'
            y2='0%'
          >
            <stop offset='0%' stop-color='#1FAF38'></stop>
            <stop offset='100%' stop-color='#60D669'></stop>
          </linearGradient>
          <linearGradient
            id='IconifyId191ecf1f1423e23943'
            x1='50%'
            x2='50%'
            y1='100%'
            y2='0%'
          >
            <stop offset='0%' stop-color='#F9F9F9'></stop>
            <stop offset='100%' stop-color='#FFF'></stop>
          </linearGradient>
        </defs>
        <path
          fill='url(#IconifyId191ecf1f1423e23942)'
          d='M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a123 123 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004'
        ></path>
        <path
          fill='url(#IconifyId191ecf1f1423e23943)'
          d='M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z'
        ></path>
        <path
          fill='#FFF'
          d='M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561s11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716s-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64'
        ></path>
      </svg>
    </a>
    <div class='icon-tooltip'>Contactar a un agente de ventas</div>
  </div>
</div>

<style>
  .icon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre las imágenes */
    padding: 6px;
    position: fixed; /* Mantenerlo en la misma posición */

    z-index: 9999; /* Asegura que esté encima de otros elementos */
  }

  .icon-wrapper {
    position: relative;
    cursor: pointer;
  }

  .icon-image {
    width: 75px;
    height: 75px;
    border-radius: 50%; /* Imágenes circulares */
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .icon-wrapper:hover .icon-image {
    transform: scale(1.1);
  }

  .icon-tooltip {
    position: absolute;
    right: 110%; /* Desplazar el tooltip a la derecha de la imagen */
    top: 50%;
    transform: translateY(
      -50%
    ); /* Centrar verticalmente respecto a la imagen */
    background-color: #333;
    color: #fff;
    font-size: 0.875rem; /* Tamaño de fuente pequeño */
    border-radius: 0.25rem;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden; /* Oculta el tooltip cuando no se pasa el cursor */
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease; /* Agrega un efecto sutil */
    white-space: nowrap; /* Evita que el texto se envuelva */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
  }

  .icon-wrapper:hover .icon-tooltip {
    opacity: 1;
    visibility: visible; /* Muestra el tooltip cuando se pasa el cursor */
  }

  .whatssap-button {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #25d366;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }

  .whatssap-button:hover {
    background-color: #128c7e;
    transform: scale(1.1);
  }

  .whatssap-button svg {
    fill: white;
    width: 60px;
    padding: 12px;
  }

  /* Media Query para dispositivos móviles */
  @media (max-width: 600px) {
    .icon-image {
      width: 50px; /* Tamaño más pequeño para pantallas pequeñas */
      height: 50px; /* Tamaño más pequeño para pantallas pequeñas */
    }

    .icon-tooltip {
      font-size: 0.75rem; /* Tamaño de fuente más pequeño en dispositivos móviles */
      padding: 0.4rem; /* Padding más pequeño en dispositivos móviles */
    }
  }
</style>
