---
import Layout from "../../layouts/Layout.astro";
import Gallery from "../../components/shared//Gallery.jsx";
import { t, changeLanguage } from "i18next";
import { gallery2021 } from "../../data/constans_gallery_by_year";

changeLanguage("es");
---

<Layout title={`ITM 2024 | ${t("menu.media_hub_2")} ITM 2021}`}>
    <h1 class="font-bold text-5xl text-center text-red-600 pt-10 uppercase" >{t('menu.itm2021')}</h1>
    <Gallery
        images={gallery2021}
        galleryID={`gallery-2021`}
        client:only="react"
        class="px-4 lg:px-20"
    />
</Layout>
