---
import i18n, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title={`ITM 2025 | ${t('menu.exhibitors_1')}`}>
  <main>
    <section
      class="bg-[url('/img/bgcontactos.webp')] bg-cover bg-center bg-no-repeat"
    >
      <h1 class='text-center text-white text-4xl md:text-5xl font-bold pt-10'>
        {t('home.contact')}
      </h1>
      <div class='flex flex-wrap justify-center items-center p-10 pt-0'>
        <div class='flex flex-col items-center flex-1 max-w-[400px] pt-10'>
          <img
            class='w-36 h-36 rounded-full object-cover'
            src='/img/speakers/Claudia_Rodríguez.jpeg'
            alt='Claudia Rodriguez Argüelles'
          />
          <h3 class='text-white text-xl font-medium pt-5'>
            {t('home.contact_mexico_latam')}
          </h3>
          <h4 class='text-white pt-2'>Claudia Rodriguez Argüelles</h4>
          <p class='text-white'>Tel. +52 55 7028 3335 ext. 809</p>
          <a
            class='text-blue-600 hover:text-blue-700 pt-5'
            href='emailto:claudia.rodriguez@igeco.mx'
            >claudia.rodriguez@igeco.mx</a
          >
        </div>
        <div class='flex flex-col items-center flex-1 max-w-[400px] pt-10'>
          <img
            class='w-36 h-36 rounded-full object-cover'
            src='/img/simoneRobering.webp'
            alt='Simone Robering'
          />
          <h3 class='text-white text-xl font-medium pt-5'>
            {t('home.contact_international')}
          </h3>
          <h4 class='text-white pt-2'>Simone Robering</h4>
          <p class='text-white'>Tel. +49 511 89 33128</p>
          <a
            class='text-blue-600 hover:text-blue-700 pt-5'
            href='emailto:simone.robering@messe.de'>simone.robering@messe.de</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
