---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Meteors from "@/components/magicui/meteors";
import { SearchExihibitor } from "../../components/shared/SearchExihibitor.jsx";
// @ts-ignore
import { localizePath } from "astro-i18next";
import { directory } from "../../data/constans_directory";

changeLanguage("en");

const path = localizePath("/consulta-directorio-digital");
---

<Layout title='ITM | Directorio Digital 2024'>
  <main data-path={path}>
    <div class='sticky top-0 h-full w-screen'>
      <Meteors client:only number={20} />
    </div>
    <section class='bg-black py-10 md:py-20'>
      <div
        data-aos='fade-in'
        data-aos-duration='1000'
        class='container mx-auto px-4'
      >
        <p
          class='square_red text-white text-center text-4xl font-extrabold place-items-start py-5'
        >
          {t('directory.title')}
        </p>
      </div>
    </section>
    <SearchExihibitor language={i18next.language} client:idle />
  </main>
</Layout>
<style>
  body {
    background-color: black;
    color: white;
    overflow-x: hidden;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const path = document.querySelector('main')?.dataset.path
    const validate = JSON.parse(
      sessionStorage.getItem('validate-register') || 'false'
    )
    if (!validate) {
      window.location.href = path || '/consulta-directorio-digital'
    }
  })
</script>
