---
import Layout from "../../layouts/Layout.astro";
import { changeLanguage, t } from "i18next";
import Gallery from "../../components/shared/Gallery.jsx";
import { nocheIndustriales2023 } from "../../data/constans_gallery_by_year.js";

changeLanguage("en");
---

<Layout title='ITM | Noche de Industriales'>
  <section class='bg-black'>
    <div class='container mx-auto py-10'>
      <div
        class='square_red text-center font-bold text-2xl xl:text-4xl py-5 px-10 uppercase text-white w-fit'
      >
        {t('nocheIndustriales.title')}
      </div>
      <p class='text-white text-xl mt-5'>
        {t('nocheIndustriales.description')}
      </p>
      <lite-youtube
        videoid='18_NiCKfFIo'
        posterquality='maxresdefault'
        class='shadow-2xl shadow-white/10 rounded-lg md:w-5/6 md:h-96 mt-5 mx-auto'
      >
      </lite-youtube>
      <div
        class='mt-10 square_red text-center font-bold text-2xl xl:text-4xl py-5 px-10 uppercase text-white w-fit'
      >
        {t('nocheIndustriales.title')} 2023
      </div>
      <Gallery
        images={nocheIndustriales2023}
        galleryID={`noche-industriales-2023`}
        client:only='react'
        class='mt-10 px-4 lg:px-20'
      />
    </div>
  </section>
</Layout>

<script>
  import '@justinribeiro/lite-youtube'
</script>
