---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title={`ITM 2025| ${t('menu.exhibitors_7')}`}>
  <main class='p-5 md:px-20 xl:px-36'>
    <h2>{t('sponsorships.subtitle')}</h2>
    <h1 class='text-3xl lg:text-4xl 2xl:text-5xl font-medium py-5'>
      {t('sponsorships.title')}
    </h1>
    <div
      class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 2xl:gap-10'
    >
      <div class='relative bg-white border border-gray-200 rounded-lg shadow'>
        <img class='rounded-t-lg' src='/img/patrocinio3.webp' alt='sponsor 1' />
        <div class='p-5'>
          <h5 class='mb-10 text-xl font-semibold tracking-tight text-black'>
            {t('sponsorships.text_1')}
          </h5>
          <a
            class='absolute bottom-2 bg-blue-600 rounded-lg text-white py-2 px-5'
            href='/files/Paquetes-de-Patrocinio-ITM-2025-vf_compressed.pdf'
            target='_blank'>{t('sponsorships.button')}</a
          >
        </div>
      </div>
    </div>

    <h1 class='mt-10 text-3xl lg:text-4xl 2xl:text-5xl font-medium py-5'>
      {t('sponsorships.title_2')}
    </h1>

    <div
      class='mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 2xl:gap-10'
    >
      <div class='relative bg-white border border-gray-200 rounded-lg shadow'>
        <img class='rounded-t-lg' src='/img/patrocinio2.webp' alt='sponsor 1' />
        <div class='p-5'>
          <h5 class='mb-10 text-xl font-semibold tracking-tight text-black'>
            {t('sponsorships.text_3')} Keynote ITM 2025
          </h5>
          <a
            class='absolute bottom-2 bg-blue-600 rounded-lg text-white py-2 px-5'
            href='/files/Patrocinio-Keynote-ITM-2025-vf_compressed.pdf'
            target='_blank'>{t('sponsorships.button')}</a
          >
        </div>
      </div>

      <div class='relative bg-white border border-gray-200 rounded-lg shadow'>
        <img class='rounded-t-lg' src='/img/patrocinio1.webp' alt='sponsor 1' />
        <div class='p-5'>
          <h5 class='mb-10 text-xl font-semibold tracking-tight text-black'>
            {t('sponsorships.text_3')} Transformation ITM 2025
          </h5>
          <a
            class='absolute bottom-2 bg-blue-600 rounded-lg text-white py-2 px-5'
            href='/files/Patrocinio-Transformation-ITM-2025-vf_compressed.pdf'
            target='_blank'>{t('sponsorships.button')}</a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
