---
import i18n, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import BecomeAnExhibitor from "../../components/exhibitor-profile/BecomeAnExhibitor.astro";
import WhyExhibit from "../../components/exhibitor-profile/WhyExhibit.astro";
import Segments from "../../components/exhibitor-profile/Segments.astro";

changeLanguage("en");
---

<Layout title={`ITM 2024 | ${t("menu.exhibitors_3")}`}>
  <main>
    <BecomeAnExhibitor />
    <WhyExhibit />
    <Segments />
  </main>
</Layout>
