---
import { changeLanguage, t } from 'i18next'
import { RegisterForm } from '../../components/register/RegisterForm.jsx'
import LayoutRegister from '../../layouts/LayoutRegister.astro'

changeLanguage('en')

const registerTranslations = t('register', { returnObjects: true })
---

<LayoutRegister title='ITM | Registro 2024'>
  <main class='py-10 grid w-full content-center container mx-auto px-4'>
    <h1 class='text-center font-extrabold text-4xl'>
      {t('register.title')}
    </h1>
    <p class='text-center text-2xl font-bold'>
      {t('register.description')}
    </p>
    <RegisterForm translates={registerTranslations} client:only='react' />
  </main>
</LayoutRegister>
<style>
  body {
    background-color: #111827;
    color: white;
  }
</style>
