---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title='ITM 2024 | Startup-pitch'>
  <main class='bg-[#000000]'>
    <section class='container mx-auto px-4 py-10'>
      <div class='grid md:grid-cols-2 place-items-center gap-6'>
        <video
          muted
          autoplay
          loop
          src='/videos/startuppitch-herovf.mp4'
          class='w-full sm:w-96 rounded-xl'></video>
        <div class='text-white'>
          <img src='/img/startuppitchLogo.webp' alt='Startup Pitch' />
          <h1 class='mt-10 text-2xl font-bold'>
            CONVOCATORIA STARTUP PITCH @ITM 2024
          </h1>
          <p class='mt-5 text-lg'>
            ¿Eres emprendedor y la industria 4.0 es tu mundo? Te invitamos a
            presentar tus soluciones en Industrial Transformation México 2024 en
            nuestra cuarta edición del Startup Pitch.
          </p>
          <p class='mt-5 text-lg'>
            Participa y sé uno de los finalistas que se presente ante
            inversionistas y miembros del jurado en ITM, que tendrá lugar del 9
            al 11 de octubre de 2024 en Poliforum León, Guanajuato. Para ser
            parte del Startup Pitch @ITM2024 sigue los siguientes pasos y envía
            tu expediente a más tardar el 02 de agosto del presente año.
          </p>
        </div>
      </div>
      <div class='grid md:grid-cols-2 gap-6 py-20'>
        <div>
          <p class='text-white text-2xl font-extrabold uppercase'>
            Etapas del concurso
          </p>
          <ol
            class='mt-10 relative border-s border-gray-200 dark:border-gray-700'
          >
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Lunes 17 de junio, 2024</time
              >
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Publicación de la convocatoria
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Julio 2024</time
              >
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Sesiones informativas
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >02 de agosto, 2024
              </time>
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Cierre de convocatoria
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >
                02 de septiembre, 2024
              </time>
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Publicación de emprendedores seleccionados
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >
                Del 09 al 30 de septiembre, 2024
              </time>
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Preparación de Pitch y Mentorías
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >
                10 de octubre, 2024
              </time>
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Ensayos on stage @ITM
              </h3>
            </li>
            <li class='mb-10 ms-6'>
              <span
                class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'
              >
                <svg
                  class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
                  aria-hidden='true'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                >
                  <path
                    d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z'
                  ></path>
                </svg>
              </span>
              <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >
                11 de octubre, 2024
              </time>
              <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Startup Pitch - Demo Day
              </h3>
            </li>
          </ol>
        </div>
        <div class='text-white'>
          <p class='mt-10 text-2xl font-bold uppercase'>
            Elige participar en alguna de las siguientes etapas de
            emprendimiento:
          </p>

          <p class='mt-5'>
            <strong>SEED:</strong> cuenta con un producto mínimo viable en el mercado,
            con clientes que comienzan a tener crecimiento (poder demostrar tu tracción
            de datos). Se cuentan con ventas iniciales. Aquí el foco principal es
            en la iteración y desarrollo del producto, crecer en usuarios y retención
            de clientes. Lo ideal es que tenga un inversionista institucional pero
            no es requerido.
          </p>
          <p class='mt-5'>
            <strong>SERIE A:</strong> contar con un proyecto de ventas de entre 1
            y 2.5 millones de pesos anuales. Cuentas con un producto que encaja en
            el mercado, deseas tener un escalamiento comercial. Cuenta con equipo
            de ventas y estás iniciando la creación de un equipo enfocado al cliente
            para el aumento de ventas y retención del cliente.
          </p>
          <p class='text-2xl font-bold uppercase'>
            Elige participar en alguna de las siguientes categorías:
          </p>
          <div class='grid md:grid-cols-3'>
            <div>
              <p class='mt-10 text-xl font-bold'>Áreas de Enfoque:</p>
              <ul class='space-y-3 mt-5'>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  AI & Machine Learning
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Industria 4.0
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Energía para la Industria
                </li>
              </ul>
            </div>
            <div>
              <p class='mt-10 text-xl font-bold'>Tipo de tecnología:</p>
              <ul class='space-y-3 mt-5'>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Data Analytics
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Cloud Computing
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Sensores
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Internet de las Cosas
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Inteligencia artificial
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Realidad virtual o aumentada
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Impresión 3D
                </li>
              </ul>
            </div>
            <div>
              <p class='mt-10 text-xl font-bold'>Áreas de aplicación:</p>
              <ul class='space-y-3 mt-5'>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Fábrica digital
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Automatización
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Manufactura aditiva
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Software
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Automatización ambiental
                </li>
                <li class='text-body-color dark:text-dark-6 flex text-base'>
                  <span
                    class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
                  >
                  </span>
                  Movilidad del futuro
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class='mt-10'>
        <p class='text-2xl font-bold text-white'>
          Prepara tu expediente con los siguientes requisitos:
        </p>
        <ul class='space-y-3 mt-5 text-white'>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Descripción de tu proyecto en máximo una cuartilla en formato Word o
            PDF, donde señales. claramente la categoría, áreas de aplicación y etapa
            del emprendimiento a la que estás aplicando.
          </li>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Documento en Word o PDF de la valuación de proyecto. (solo para Serie
            A).
          </li>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Pitch inicial de 3 minutos en formato de video mp4 o mov.
          </li>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Semblanza o CV de quienes conforman el equipo de trabajo
          </li>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Cuestionario de postulación que se encuentra en nuestro sitio web.
          </li>
          <li class='text-body-color dark:text-dark-6 flex text-base'>
            <span
              class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
            >
            </span>
            Expediente administrativo:
          </li>
        </ul>
        <p class='text-white ms-10 mt-5'>
          <strong>Persona Física: </strong><br />
          I. Identificación del representante legal.<br />
          II. RFC del representante legal.<br />
          III. Comprobante de domicilio.<br />
        </p>
        <p class='text-white ms-10 mt-5'>
          <strong>Persona Moral: </strong><br />
          I. Acta constitutiva (en caso de aplicar).<br />
          II. Comprobante de domicilio de la empresa.<br />
          III. Identificación del representante legal.<br />
          IV. RFC del representante legal.<br />
        </p>
      </div>
      <p class='text-white mt-10 text-center font-bold'>
        Envía tu expediente a más tardar el 02 de agosto a través de la
        siguiente forma de Google:
      </p>
      <a
        href='https://forms.gle/kAD6YERFF2KdLC9C7'
        target='_blank'
        class='bg-blue-700 text-white px-4 py-2 rounded-lg mt-5 flex items-center justify-center mx-auto font-bold uppercase hover:bg-blue-800 transition-colors duration-300 ease-in-out text-2xl w-fit'
      >
        Enviar expediente
      </a>

      <p class='mt-10 text-xl text-white'>
        Recuerda que, para poder completar tu aplicación a la presente
        convocatoria, deberás asegurarte de que el cuestionario esté
        completamente lleno con todos los requisitos.
      </p>
      <div class='mt-10 grid md:grid-cols-2 place-items-center gap-6'>
        <div
          class='block p-6 bg-gray-800 border-gray-700 hover:bg-gray-700 rounded-xl h-full'
        >
          <h5
            class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'
          >
            Mentorías
          </h5>
          <p class='text-gray-400'>
            Fecha: 09 al 30 de septiembre 2024<br />
            Sede: Por confirmar Modalidad:<br />
            Presencial/Virtua
          </p>
          <p class='mt-5 font-normal text-white'>
            Es compromiso de los proyectos seleccionados el cumplir con la
            asistencia y participación en el proceso de mentorías 2024, por lo
            que deberán considerar estas fechas durante todo el proceso de
            selección y estar disponible para participar en las sesiones. El
            proceso de mentoría y seguimiento se enfoca en el entrenamiento,
            reuniones y prácticas para que se familiaricen con el procedimiento,
            tiempos y presentación de un Pitch.
          </p>
        </div>
        <div
          class='block
            p-6
            bg-gray-800
            border-gray-700
            hover:bg-gray-700
            rounded-xl'
        >
          <h5
            class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'
          >
            Startup Pitch: Fase Final
          </h5>
          <p class='text-gray-400'>
            Fecha: 11 de octubre<br />
            Sede: Poliforum León, Guanajuato<br />
            Modalidad: Presencial
          </p>
          <p class='mt-5 font-normal text-white'>
            La duración del pitch es de 3 minutos más preguntas y respuestas por
            parte del jurado. Un jurado calificador evaluará el pitch final, el
            cual se llevará a cabo en el marco del Industrial Transformation
            México 2024. Al finalizar el Startup Pitch se anunciará al ganador.
            La decisión del jurado evaluador será inapelable. Los gastos de
            traslado de los participantes hasta la sede de selección regional,
            corren en total responsabilidad de los miembros del equipo (en caso
            de aplicar).
          </p>
        </div>
      </div>

      <p class='mt-10 text-white font-extrabold text-2xl'>Beneficios</p>
      <ul class='space-y-3 mt-5 text-white'>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          Acceso a Industrial Transformation México 2024
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          Mentorías de preparación para presentación de Pitch.
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          Los proyectos seleccionados para la etapa final, podrán asistir al exclusivo
          evento de la Noche de Industriales el 8 de octubre en el marco de Industrial
          Transformation México 2024. (En caso de ser finalista, considera tu llegada
          para esta fecha).
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          Al proyecto ganador se le otorgará un stand para su participación en la
          Hannover Messe 2025 en Alemania en el Área de Startups.
        </li>
      </ul>

      <p class='mt-10 text-white font-extrabold text-2xl'>
        Criterios de evaluación
      </p>
      <p class='text-white'>
        Los proyectos recibidos serán sometidos a evaluación por parte del
        comité organizador en una primera etapa y por parte de los miembros del
        jurado en la etapa final de Startup Pitch. En todas las etapas de
        selección, serán tomados en cuenta los siguientes criterios:
      </p>
      <ul class='space-y-3 mt-5 text-white'>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Viabilidad económica y escalabilidad del negocio:</strong> Se
            evaluará la posibilidad de replicar del modelo haciendo el mejor uso
            de recursos (el retorno de la inversión es mayor que la inversión realizada)
            e impactando a mayor número de personas.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Grado de innovación: </strong>Se evaluará si el producto
            existe en el mercado, existe una diferenciación o es un producto que
            no existe en el mercado haciendo un cambio radical en el mismo.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Problemática a resolver: </strong>Se evaluará si la Startup
            satisface una necesidad clara.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Uso de la tecnología: </strong>Este apartado se enfocará en
            dejar claro si utiliza una o varias tecnologías en la solución
            presentada, alineadas a las categorías de esta convocatoria.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong
              >Viabilidad técnica y futuros prototipos y/o productos:
            </strong>Técnicamente es posible desarrollar este producto para
            solventar otras necesidades y resolver otros problemas. Este tipo de
            preguntas es lo que se evaluará en este apartado.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Funcionalidad del producto y/o servicio: </strong>Los
            productos presentados muchas ocasiones están en proceso de
            desarrollo tecnológico, por lo que se evaluará, si es un prototipo,
            producto de prueba de mercado o si ya se encuentra en venta al
            público como producto final.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            <strong>Creatividad de la presentación: </strong>
            La presentación es original, genera atención al público y al jurado,
            es congruente y cuenta una historia.
          </p>
        </li>
      </ul>

      <p class='mt-10 text-white font-extrabold text-2xl'>
        Criterios de descalificación
      </p>
      <p class='text-white'>
        Los proyectos serán sujetos a descalificación cuando integrantes del
        equipo, y/o el proyecto entre en conflicto con los siguientes casos:
      </p>
      <ul class='space-y-3 mt-5 text-white'>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            No pueden participar colaboradores activos del Comité Organizador de
            Startup Pitch, ni de Industrial Transformation México.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            No participación de proyectos de origen público (gobiernos e
            instituciones en los 3 niveles)
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            Proyectos que sustenten datos, documentos o evidencias que no
            correspondan al proyecto participante o alguna innovación que
            pertenezca a un proyecto diferente que no sea de su autoría.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            No podrán participar los proyectos ganadores de ediciones anteriores
            de Startup Pitch.
          </p>
        </li>
      </ul>
      <p class='text-white mt-10'>
        La evaluación, aprobación, descalificación, declaración de ganador y
        cualquier decisión en general a cargo del comité organizador y el jurado
        evaluador será inapelable.
      </p>
      <p class='text-white'>
        Cualquier disposición no prevista en la presente convocatoria, será
        resuelta por el Comité Organizador.
      </p>

      <p class='mt-10 text-white font-extrabold text-2xl'>
        Condiciones generales
      </p>
      <p class='mt-5 text-white'>
        1. Las personas inscritas que por cualquier razón no puedan continuar en
        competencia, deberán comunicar su baja al personal de ITM para que tome
        las medidas oportunas. Al momento de emitir su participación en (link de
        registro) el participante estará aceptando los términos y condiciones de
        la presente convocatoria. <br /><br />
        2. La información de cada uno de los proyectos será de uso exclusivo para
        fines del programa (proceso de evaluación y seguimiento), ninguna persona
        ajena al programa tendrá acceso a información referente a los proyectos.<br
        /><br />
        3. Los participantes no podrán inscribir proyectos que sean relacionados
        a giros prohibidos de acuerdo a esta convocatoria como: sexo, pornografía,
        actividades criminales, juegos de azar, apuestas, entretenimiento para adultos,
        casinos, cualquier tipo de giro o transacción que infrinja leyes locales
        o federales.<br /><br />
        4. Los datos de cada participante y la información de la idea de su negocio,
        será considerada como datos confidenciales. Ningún otro participante podrá
        tener acceso a dicha información.
      </p>

      <p class='mt-10 text-white font-extrabold text-2xl'>
        Responsabilidad de los participantes
      </p>
      <p>
        Cada participante del Startup Pitch, al momento de ser notificados que
        superaron la etapa de preselección, deberán de realizar las siguientes
        actividades:
      </p>
      <ul class='space-y-3 mt-5 text-white'>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            Se debe establecer previamente quién será la persona que estará
            realizando el pitch, en cada una de las etapas del concurso. La
            persona que tome el papel de líder deberá cumplir con los requisitos
            establecidos en la convocatoria. Solamente podrá presentar el líder
            de cada proyecto sin excepción alguna, esto con la finalidad de
            mantener en igualdad de condiciones a todos los proyectos
            participantes.
          </p>
        </li>
        <li class='text-body-color dark:text-dark-6 flex text-base'>
          <span
            class='bg-blue-700 mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base'
          >
          </span>
          <p>
            Los gastos de traslado, hospedaje y viáticos de los participantes,
            corren en total responsabilidad de los miembros de cada equipo (en
            caso de aplicar).
          </p>
        </li>
      </ul>
      <p class='text-white mt-5'>
        Al proyecto ganador se le otorgará un stand para su participación en la
        Hannover Messe 2025 en Alemania en el Área de Startups.
      </p>
      <a
        href='https://forms.gle/kAD6YERFF2KdLC9C7'
        target='_blank'
        class='bg-blue-700 text-white px-4 py-2 rounded-lg mt-10 flex items-center justify-center mx-auto font-bold uppercase hover:bg-blue-800 transition-colors duration-300 ease-in-out text-2xl w-fit'
      >
        Enviar expediente
      </a>
      <p class='mt-10 text-white font-extrabold text-2xl text-center'>
        ¿Tienes alguna duda sobre el proceso?
      </p>
      <p class='text-white text-center'>
        Contáctanos al correo <a
          href='mailto:eder.rangel@igeco.mx'
          target='_blank'
          class='text-lg font-bold text-blue-500'>eder.rangel@igeco.mx</a
        > o visita <a
          href='https://industrialtransformation.mx/'
          target='_blank'
          class='text-lg font-bold text-blue-500'>industrialtransformation.mx</a
        >
      </p>
    </section>
  </main>
</Layout>
