---
import { changeLanguage, t } from "i18next";
import { Upgrade } from "../components/register/Upgrade.jsx";
import LayoutRegister from "../layouts/LayoutRegister.astro";

changeLanguage("es");
---

<LayoutRegister title='SUMMIT CCE'>
  <main class='mt-10 md:mt-20 mx-6 py-10'>
    <h1
      class='text-[#E42128] text-3xl md:text-5xl leading-snug font-extrabold text-center uppercase'
    >
      Adquiere tu programa de conferencias <br />CCE - CONCAMIN - ITM - AMOF
    </h1>
    <p class='text-center font-bold text-lg md:text-2xl uppercase'>
      da el salto y disfruta de todas nuestras ventajas
    </p>
    <Upgrade client:only='react' />
  </main>
</LayoutRegister>
<style>
  body {
    background-color: #111827;
    color: white;
  }
</style>
