---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title={`ITM 2025 | ${t('menu.media_hub_3')}`}>
  <section class='py-5 container mx-auto px-4'>
    <h1 class='text-center text-[#E8001E] font-bold text-3xl'>
      {t('downloadlogos')}
    </h1>
    <div class='mt-5 grid md:grid-cols-3 gap-5 text-white'>
      <div class='bg-[#999191] p-3'>
        <a href='/img/logosITM/ITM-logo-red1-new.webp' target='_blank' download>
          <img src='/img/logosITM/ITM-logo-red1-new.webp' alt='ITM-Logo-red' />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_red_font_rgb_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a
          href='/img/logosITM/ITM-logo-white1-new.webp'
          target='_blank'
          download
        >
          <img
            src='/img/logosITM/ITM-logo-white1-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_white_font_rgb_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a
          href='/img/logosITM/ITM-logo-red-back-new.webp'
          target='_blank'
          download
        >
          <img
            src='/img/logosITM/ITM-logo-red-back-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_red_back_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a href='/img/logosITM/ITM-logo-rgb-new.webp' target='_blank' download>
          <img
            src='/img/logosITM/ITM-logo-rgb-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_rgb_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a
          href='/img/logosITM/ITM-logo-black-new.webp'
          target='_blank'
          download
        >
          <img
            src='/img/logosITM/ITM-logo-black-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_1c_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a
          href='/img/logosITM/ITM-logo-black-white-new.webp'
          target='_blank'
          download
        >
          <img
            src='/img/logosITM/ITM-logo-black-white-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_white_font_1c_225ppi
        </p>
      </div>
      <div class='bg-[#999191] p-3'>
        <a
          href='/img/logosITM/itm-logo-negro-new.webp'
          target='_blank'
          download
        >
          <img
            src='/img/logosITM/itm-logo-negro-new.webp'
            alt='ITM-Logo-red'
            class='w-100'
          />
        </a>
        <p class='pt-4 break-words'>
          Industrial-Transformation_Mexico_Logo_black_font_1c_225ppi
        </p>
      </div>
    </div>
  </section>
</Layout>
