---
import { changeLanguage } from "i18next";
import Hero from "../components/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Sponsors from "../components/home/Sponsors.astro";
import WhyParticipate from "../components/home/WhyParticipate.astro";
import Gallery from "../components/shared/Gallery";
import { home } from "../data/constans_gallery.js";
import Score from "../components/home/Score.astro";

changeLanguage("es");
---

<Layout title='ITM 2024 | Home'>
  <main>
    <Hero />
    <Sponsors />
    <WhyParticipate />
    <Score />
    <Gallery images={home} galleryID='gallery' client:only='react' />
  </main>
</Layout>

<style></style>
