---
import { changeLanguage, t } from "i18next";
import LayoutOktoberfest from "../layouts/LayoutOktoberfest.astro";
import Products from "../components/oktoberfest/Products.astro";
import { Items } from "../components/oktoberfest/Items.jsx";
import { Total } from "../components/oktoberfest/Total.jsx";

changeLanguage("es");

const translate = t("oktoberfest", { returnObjects: true });
---

<LayoutOktoberfest title='Oktoberfest | reservaciones'>
  {
    /*
           <main class='md:flex grid'>
    <section class='p-5 sm:p-10 w-full sm:w-3/5 sm:order-1'>
      <div class='flex items-center gap-5'>
        <img src='/img/oktoberfest-logo.webp' alt='Oktoberfest' class='w-24' />
        <p class='font-extrabold text-3xl'>
          {t('oktoberfest.reservation_description')}
          <br />
          <span class='font-light text-xl'>
            {t('oktoberfest.max_people')}
          </span>
        </p>
      </div>
      <Products />
    </section>
    <aside
      class='sm:fixed right-0 top-0 z-50 p-5 w-full sm:w-2/5 sm:order-2 bg-[#f7f7f8] h-auto sm:h-full border rounded-lg shadow-lg overflow-y-scroll'
    >
      <p class='text-center text-2xl font-bold hidden md:block text-black'>
        {t('oktoberfest.resume')}
      </p>

      <Items client:only translate={translate} />
      <Total client:only />

      <a
        href='/oktoberfest-checkout'
        class='bg-black p-4 text-white text-4xl flex rounded-xl justify-center items-center w-full mt-5 hover:bg-gray-800'
      >
        {t('oktoberfest.continue')}
      </a>
    </aside>
  </main> */
  }
</LayoutOktoberfest>
