---
import { t } from 'i18next'
import { buyers } from '../../data/constans_logos.js'
---

<section class='container mx-auto px-4 py-10'>
  <div
    class='w-fit mx-auto square_red font-extrabold text-2xl md:text-3xl uppercase py-5 px-10 text-white text-center'
  >
    {t('home.buyers_profesionals')}
  </div>

  <div class='mt-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-9 gap-6'>
    {
      buyers.map((buyer) => (
        <div class='flex justify-center items-center'>
          <img src={buyer.src} alt={buyer.alt} width={buyer.width} />
        </div>
      ))
    }
  </div>
  <p class='text-right font-extrabold text-2xl uppercase'>
    {t('home.others')}...
  </p>
</section>
