<section class='bg-black py-10'>
  <div class='container mx-auto px-4'>
    <img
      src='/img/transformacionDigital1.webp'
      alt='Lidera la transformaci贸n digital de la industria 4.0'
    />
  </div>
  <img
    src='/img/transformacionDigital2.webp'
    alt='Lidera la transformaci贸n digital de la industria 4.0'
  />
  <div class='grid place-content-end px-4'>
    <img
      src='/img/transformacionDigital3.webp'
      alt='Lidera la transformaci贸n digital de la industria 4.0'
    />
    <img
      src='/img/transformacionDigital4.webp'
      alt='Lidera la transformaci贸n digital de la industria 4.0'
    />
  </div>
</section>
