---
import { t } from 'i18next'
import { Numbers } from '../shared/Numbers'
---

<section>
  <div class='mt-20 grid md:flex items-end'>
    <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-3 order-2 md:order-1'>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore1.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-5xl'>
            +<Numbers client:only='react' number='250' duration='5' />
          </span>
          <p class='text-white text-2xl font-extrabold'>{t('home.bullet_1')}</p>
        </div>
      </div>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore2.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-5xl'>
            <Numbers client:only='react' number='13000' duration='5' />
            <span class='text-white' set:html={t('home.m2')} />
          </span>
          <p class='text-white text-2xl font-extrabold'>{t('home.bullet_2')}</p>
        </div>
      </div>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore3.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-5xl'>
            +<Numbers client:only='react' number='4' duration='5' />
          </span>
          <p class='text-white text-2xl font-extrabold'>{t('home.bullet_3')}</p>
        </div>
      </div>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore4.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-5xl'>
            <Numbers client:only='react' number='15000' duration='5' />
          </span>
          <p class='text-white text-xl font-extrabold'>{t('home.bullet_4')}</p>
        </div>
      </div>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore5.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-4xl'>
            + <Numbers client:only='react' number='1370' duration='5' />
            <span class='text-white'>MDP</span>
          </span>
          <p class='text-white text-2xl font-extrabold'>{t('home.bullet_5')}</p>
        </div>
      </div>
      <div
        class='relative h-80 grid place-items-end rounded-xl overflow-hidden'
      >
        <img
          src='/img/bgscore6.webp'
          alt='Categoria 1'
          class='w-full h-full object-cover absolute z-0'
        />
        <div
          class='w-full relative z-10 p-5 bg-gradient-to-t from-black via-black/80 to-transparent'
        >
          <span class='text-white font-bold text-4xl'>
            <Numbers client:only='react' number='260' duration='5' />
            <span class='text-white'>MDP</span>
          </span>
          <p class='text-white text-xl font-extrabold'>{t('home.bullet_6')}</p>
        </div>
      </div>
    </div>
    <p class='text-white border-b-2 ps-10 text-4xl order-1 md:order-2 pb-5'>
      {t('home.text_19')}
      <strong>2024</strong>
    </p>
  </div>
</section>
