---
import { t } from 'i18next'
import { exhibitors_1, exhibitors_2 } from '../../data/constans_logos'
import Marquee from '../shared/Marquee.astro'
---

<section
  class='container mx-auto px-4 py-10 text-center text-[#6C757D] font-bold uppercase'
>
  <div
    class='square_red text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
  >
    {t('home.title-sponsors')}
  </div>
  <div class='grid grid-cols-4 place-items-center sm:flex justify-center gap-6'>
    <a
      href='https://mx.mitsubishielectric.com/fa/en/'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/img/mitsubishi.webp'
        class='img-fluid'
        loading='lazy'
        width='200'
        alt='patrocinador ITM Mitsubishi'
      />
    </a>
    <a href='https://www.se.com/ww/en/' target='_blank' rel='noreferrer'>
      <img
        src='/img/logoSchneider.webp'
        width='200'
        alt='patrocinador ITM schneider electric'
        loading='lazy'
      />
    </a>
    <a href='http://www.misumimex.com/' target='_blank' rel='noreferrer'>
      <img
        src='/img/misumi.webp'
        width='200'
        alt='patrocinador ITM MISUMI'
        loading='lazy'
      />
    </a>
    <a
      href='https://www.siemens.com/mx/es.html'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/img/siemens.webp'
        width='200'
        alt='patrocinador ITM schneider electric'
        loading='lazy'
      />
    </a>
  </div>
  <div
    class='mt-10 square_red text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
  >
    {t('menu.exhibitors_2_1')}
  </div>
  <Marquee partners={exhibitors_1} isLeftToRight={true} />
  <Marquee partners={exhibitors_2} isLeftToRight={false} />
</section>
