---
import { t } from 'i18next'
---

<section class='container mx-auto px-4 py-10'>
  <p class='text-3xl text-gray-500 font-bold uppercase text-center'>
    {t('home.testimonials')}
  </p>
  <div class='mt-5 grid md:grid-cols-3 lg:grid-cols-5 gap-6'>
    <lite-youtube
      videoid='sIJNdVtMZq8'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='PYrkvv3gNao'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='hTzihc_eILQ'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='DghV95YoYuk'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='suMZFTNpANE'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
  </div>
</section>
