---
import { t } from 'i18next'
---

<section class='container mx-auto px-4 py-10'>
  <div
    class='square_red text-center font-bold text-2xl xl:text-4xl py-5 px-10 uppercase text-white w-fit mx-auto'
  >
    {t('home.testimonials')}
  </div>
  <div class='mt-5 grid md:grid-cols-3 lg:grid-cols-5 gap-6'>
    <lite-youtube
      videoid='sIJNdVtMZq8'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='PYrkvv3gNao'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='hTzihc_eILQ'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='DghV95YoYuk'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
    <lite-youtube
      videoid='suMZFTNpANE'
      class='shadow-2xl shadow-white/10 rounded-lg md:h-96'></lite-youtube>
  </div>
</section>
