---
import i18next, { t } from 'i18next'
---

<section
  class='bg-black bg-cover h-full bg-fixed bg-no-repeat py-20 text-center text-white'
>
  <div class='container mx-auto px-4'>
    <p class='text-[#e8001e] font-extrabold uppercase text-4xl'>
      {t('exhibitorReasons.title')}
    </p>
    <div class='grid sm:grid-cols-2 lg:grid-cols-3 gap-10'>
      <div class='relative'>
        {
          i18next.language === 'es' ? (
            <img src='/img/whyparticipate1.webp' class='w-full' />
          ) : (
            <img src='/img/whyparticipate1_en.webp' class='w-full' />
          )
        }
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate1')}
        </div>
      </div>
      <div class='relative'>
        {
          i18next.language === 'es' ? (
            <img src='/img/whyparticipate2.webp' class='w-full' />
          ) : (
            <img src='/img/whyparticipate2_en.webp' class='w-full' />
          )
        }
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate2')}
        </div>
      </div>
      <div class='relative'>
        {
          i18next.language === 'es' ? (
            <img src='/img/whyparticipate3.webp' class='w-full' />
          ) : (
            <img src='/img/whyparticipate3_en.webp' class='w-full' />
          )
        }
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate3')}
        </div>
      </div>
      <div class='relative'>
        {
          i18next.language === 'es' ? (
            <img src='/img/whyparticipate4.webp' class='w-full' />
          ) : (
            <img src='/img/whyparticipate4_en.webp' class='w-full' />
          )
        }
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate4')}
        </div>
      </div>
      <div class='relative'>
        <img src='/img/whyparticipate5.webp' class='w-full' />
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate5')}
        </div>
      </div>
      <div class='relative'>
        <img src='/img/whyparticipate6.webp' class='w-full' />
        <div
          class='absolute bottom-[-20px] w-full square_blue z-10 font-bold text-sm md:text-[1rem] px-5'
        >
          {t('home.whyparticipate6')}
        </div>
      </div>
    </div>
  </div>
</section>
