---
import { t } from 'i18next'
---

<section>
  <h2 class='text-center font-bold text-4xl text-[rgb(221,0,0)] py-10 px-5'>
    {t('profile.segments.title')}
  </h2>
  <div
    class='flex flex-wrap gap-5 xl:gap-x-16 justify-center pb-10 px-5 xl:px-44'
  >
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_1.webp' alt='segment 1' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-1')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_2.webp' alt='segment 2' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-2')}
      </p>
    </div>

    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_7.webp' alt='segment 7' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-7')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_8.webp' alt='segment 8' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-8')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_9.webp' alt='segment 9' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-9')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_4.webp' alt='segment 4' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-4')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_3.webp' alt='segment 3' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-3')}
      </p>
    </div>
    <div class='w-40 md:w-52 xl:w-40'>
      <img src='/img/segment_icon_6.webp' alt='segment 6' />
      <p class='text-xl text-center font-semibold text-[rgb(221,0,0)]'>
        {t('profile.segments.item-6')}
      </p>
    </div>
  </div>
</section>
